<h1>Bonjour {{name}} {{lastName}},</h1>
<p>Merci pour votre réservation. Voici les détails de votre réservation :</p>
<ul>
  <li>Date: {{date}}</li>
  <li>Heure de début: {{hour_start}}</li>
  <li>Heure de fin: {{hour_end}}</li>
  <li>Catégorie: {{category.name}}</li>
  <li>Phone: {{phone}}</li>
  <li>Email: {{email}}</li>
</ul>
<p>Nous avons hâte de vous voir à Wargame Spirit et pensez à vous présenter en
  caisse afin de récupérer vos boissons et votre tables !</p>